.container
  .footer
    .footer-wrapper
      hr
      p 
        | &copy; · 2010-2016 &nbsp;
        a(href="http://monkeyhorse.cn") MonkeyHorse
        |  ·

        if viewHelper != null
          span  #{viewHelper.getResponseTime()}ms
       
